@import "src/assets/styles/templates";

.page {
  @extend %mainFont;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 20px 7fr;
  grid-template-rows: var(--header-height) 1fr;

  section {
    width: 100%;
    height: 100%;

    &:not(&.patch) {
      @extend %scrollable;
      grid-row-start: 2;
    }

    &.serviceList {
      font-size: 20px;
      padding: 0 1em 1em 1em;
    }

    &.patch {
      position: relative;
      grid-column-start: 2;
    }

    &.body {
      font-size: 20px;
      grid-column-start: 3;
      padding: 0 2em 1em 2em;
    }
  }
}