@import "src/assets/styles/templates";

.page {
  @extend %mainFont;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 20px 7fr;
  grid-template-rows: var(--header-height) 1fr;

  @media (max-width: 852px) {
    grid-template-columns: 5fr 20px 7fr;
  }

  @media (max-width: 616px) {
    grid-template-columns: 4fr 20px 7fr;
  }

  @media (max-width: 536px) {
    grid-template-columns: 3.5fr 20px 7fr;
  }

  &.mobile {
    grid-template-columns: 1fr;
    position: relative;

    section {
      &.patch {
        display: none;
      }

      &.serviceList {
        grid-column-start: 1;
        grid-column-end: 2;
        z-index: 8000;
        background: var(--background-primary);
        padding: 0 globalPadding(1) globalPadding(1) globalPadding(1);
      }

      &.body {
        grid-column-start: 1;
        grid-column-end: 2;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9000;
        background: var(--background-primary);
      }
    }
  }

  section {
    width: 100%;
    height: 100%;

    &:not(&.patch) {
      @extend %scrollable;
      grid-row-start: 2;
    }

    &.serviceList {
      font-size: 20px;
      padding: 0 globalPadding(.5) globalPadding(.5) globalPadding(.5);

      .searchPlaceholder {
        background: var(--background-primary);
        padding-bottom: .95em;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 9000;

        .inputLine {
          @extend %flexCenter;

          height: 100%;
          font-size: 1em;
          width: 100%;
          border-radius: .35em;
          background: var(--head-button-back);
          justify-content: space-between;
          padding-left: .5em;

          svg {
            @extend %notSelectable;
            width: .75em;

            path {
              fill: var(--head-icon-color-inactive);
            }
          }

          .closeButton {
            @extend %flexCenter;

            height: 2.1em;
            aspect-ratio: 1;
            cursor: pointer;

            &:active {
              svg path {
                fill: var(--head-icon-color);
              }
            }
          }

          input {
            @extend %mainFont;

            font-size: 1em;
            margin: .25em 0 .25em  .5em;
            height: 1.6em;
            width: 100%;
            background: none;
            outline: none;
            border: none;
            color: var(--head-icon-color);

            &::placeholder,
            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &::-ms-input-placeholder {
              color: var(--head-icon-color-inactive);
              font-family: inherit;
            }
          }
        }
      }

      @media (max-width: 992px) {
        font-size: 18px;
      }

      @media (max-width: 851px) {
        font-size: 20px;
      }
    }

    &.patch {
      position: relative;
      grid-column-start: 2;
    }

    &.body {
      font-size: 20px;
      grid-column-start: 3;
      padding: 0 globalPadding(1) globalPadding(.5) globalPadding(1);
    }
  }
}