@import "src/assets/styles/templates";

.logo {
  @extend %notSelectable;

  cursor: pointer;
  height: 100%;

  svg {
    height: 100%;

    path {
      transition: fill .15s ease;
    }
  }

  &.monochrome {
    &:hover, &:active {
      svg path {
        fill: var(--logo-main);
      }

      svg path.text {
        fill: var(--logo-font-color);
      }
    }

    svg path {
      fill: var(--logo-font-color);
    }
  }

  &.wRed {
    svg path {
      fill: var(--logo-main);
    }

    svg path.text {
      fill: var(--logo-font-color);
    }
  }
}