@import "src/assets/styles/templates";

.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 6.6fr 3.3fr;

  section {
    @extend %scrollable;

    width: 100%;
    height: 100%;
    position: relative;

    &.somethingSpecial {
      @extend %flexCenter;
      @extend %mainFont;

      font-size: 20px;
      padding: globalPadding(1);
      flex-direction: column;
      align-items: start;

      .label {
        @extend %specialFont;
        font-size: 5em;
      }

      .subLabel {
        font-size: 1em;
        margin-top: 1.9em;
      }
    }
  }
}