@import "src/assets/styles/templates";

.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 6.6fr 20px 3.3fr;

  .patchPlaceholder {
    position: relative;
  }

  section {
    @extend %scrollable;

    width: 100%;
    height: 100%;
    position: relative;

    &.somethingSpecial {
      @extend %flexCenter;
      @extend %mainFont;

      font-size: 20px;
      padding: globalPadding(1);
      flex-direction: column;
      align-items: start;
      color: var(--main-left-header);

      .label {
        @extend %specialFont;
        font-size: 5em;
      }

      .subLabel {
        font-size: 1em;
        margin-top: 1.9em;
      }
    }

    &.cards {
      @extend %flexCenter;

      font-size: 20px;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      column-gap: 2em;

      .content {
        @extend %flexCenter;
        @extend %scrollable;

        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: 2em;
        min-height: 100%;
        width: 100%;
        padding:
            var(--header-height) // Top
            globalPadding(1) // Right
            globalPadding(1) // Bottom
            globalPadding(1); // Left
      }
    }
  }
}