@import "src/assets/styles/templates";

.review {
  // 1em = 20px
  display: grid;
  grid-template-columns: 3.8em 1fr 6.9em;
  grid-column-gap: globalPadding(.5);
  border-radius: 1em;
  background: var(--head-button-back);
  padding: .5em;
  grid-column: span 4;

  @media (max-width: 1504px) {
    grid-column: span 2;
  }

  @media (max-width: 1264px) {
    grid-template-columns: 1fr 3.8em;
    grid-template-rows: 3.8em 1fr;
    padding: 1em;

    .container {
      &.avatar {
        grid-column-start: 2;
      }

      &.content {
        // grid-row: span 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &.rating {
        grid-column-start: 2;
        align-items: start;

        .block {
          min-height: unset;
        }
      }
    }
  }

  @media (max-width: 852px) {
    grid-column: span 1;
  }

  @media (max-width: 851px) {
    grid-column: span 2;
  }

  @media (max-width: 624px) {
    grid-column: span 1;
  }

  @media (max-width: 852px) {
    grid-template-columns: 3.8em 6.9em 1fr;
    grid-gap: 1em;

    .container {
      &.avatar {
        grid-column-start: 1;
      }

      &.content {
        // grid-row: span 2;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column: span 3;
      }

      &.rating {
        grid-column-start: 3;
        grid-column: span 1;
        justify-content: end;
        align-items: end;

        .block {
          min-height: unset;
        }
      }
    }
  }

  .container {
    @extend %mainFont;

    &.avatar, &.rating {
      @extend %flexCenter;
      align-items: start;
    }

    &.avatar {
      .avatarImage {
        @extend %flexCenter;

        width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--head-icon-color);
      }
    }

    &.content {
      font-size: 1em;
      color: var(--service-font);

      h3 {
        @extend %semiBold;
        font-size: 1.25em;
      }

      .text {
        margin: 1.5em 0;
        font-size: 1em;
      }
    }

    &.rating {
      .block {
        @extend %flexCenter;

        width: 100%;
        min-height: 3.8em;

        svg {
          width: 18%;
        }
      }
    }
  }
}