@import "src/assets/styles/templates";

.page {
  --sidebar-width: 416px;

  @media (max-width: 1300px) {
    --sidebar-width: 300px;
  }

  @media (max-width: 800px) {
    --sidebar-width: 200px;
  }

  @media (max-width: 884px) {
    $sidebarWidth: calc(2.2em + globalPadding(.5));

    grid-template-columns: $sidebarWidth 1fr;
  }

  @media (max-width: 692px) {
    --sidebar-width: 175px;
  }

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: var(--header-height) globalPadding(1) 0 globalPadding(1);
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  font-size: 20px;

  @media (max-width: 920px) {
    font-size: 19px;
  }

  .sidebar,
  .body {
    @extend %scrollable;
    width: 100%;
    height: 100%;
  }

  .sidebar {
    @extend %mainFont;

    font-size: 1em; // 1em = 20px
    padding-right: globalPadding(1);
    display: flex;
    flex-direction: column;
    row-gap: globalPadding(.5);
    padding-bottom: globalPadding(1);

    @media (max-width: 692px) {
      font-size: .8em;
    }

    @media (max-width: 884px) {
      padding-right: 0;
    }

    .item {
      @extend %notSelectable;

      display: flex;
      align-items: center;
      column-gap: .75em;
      min-height: 2.4em;
      width: 100%;
      padding: .25em;
      border-radius: .35em;
      color: var(--sets-font-primary);
      transition:
              background .15s ease,
              color .15s ease,
              border-color .15s ease;

      &:not(.version) {
        cursor: pointer;

        &:hover,
        &.active {
          background: var(--head-button-back);
        }
      }

      svg {
        width: 1.25em;

        path {
          fill: var(--sets-font-primary);
        }
      }

      @media (max-width: 884px) {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        width: 2.4em;

        span {
          display: none;
        }
      }

      &.version {
        border-top: 1px solid var(--head-button-back);
        font-size: .85em;
        position: sticky;
        bottom: 0;
        left: 0;
        border-radius: 0;
        background: var(--background-primary);

        @media (max-width: 884px) {
          display: none;
        }

        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: globalPadding(1);
          top: 100%;
          left: 0;
          background: var(--background-primary);
          transition: inherit;
        }
      }
    }
  }

  .body {
    font-size: 1em; // 1em = 20px

    @media (max-width: 708px) {
      font-size: .8em;
    }

    @media (max-width: 884px) {
      font-size: 1em;
    }

    .content {
      $minHeight: calc(calc(100% - 2.15em) - globalPadding(2));

      // min-height: $minHeight;
    }

    .saveChanges {
      @extend %flexCenter;
      @extend %mainFont;

      display: none;
      font-size: 1em; // 1em = 20px
      position: sticky;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: globalPadding(1) 0;
      // background: var(--background-primary);
      justify-content: end;
      column-gap: globalPadding(.25);

      .button {
        @extend %notSelectable;

        padding: .25em;
        border-radius: .35em;
        cursor: pointer;

        .text {
          @extend %flexCenter;
          min-height: 1.9em;
        }

        &.save {
          background: var(--sets-confirm-back);
          color: var(--sets-confirm-font);
        }

        &.reject {
          background: var(--sets-reject-back);
          color: var(--sets-reject-font);
        }
      }
    }
  }
}