@import "src/assets/styles/templates";

.noSelectedService {
  @extend %flexCenter;
  @extend %mainFont;

  // 1em = 20px
  width: 100%;
  height: 100%;

  h2 {
    font-size: 2em;
    color: var(--service-font);
  }
}

article.service {
  @extend %mainFont;
  --bottom-control-height: 4.4em;

  // 1em = 20px
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr var(--bottom-control-height);

  @media (max-width: 776px) {
    --bottom-control-height: 4em;
  }

  .scrollable {
    @extend %scrollable;
    // 1em = 20px

    h2 {
      font-size: 2.5em;
      color: var(--service-font);
      margin-bottom: .4em;
    }

    .desc {
      font-size: 1em;
      color: var(--service-title);
    }

    .cards {
      // 1em = 20px
      font-size: 1em;
      padding-top: 2.25em;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: globalPadding(.5);

      @media (max-width: 1504px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 852px) {
        grid-template-columns: 1fr;
      }

      .card {
        font-size: 1em;
        padding: .5em;
        background: var(--head-button-back);
        border-radius: 1em;
        display: grid;
        grid-row-gap: .5em;
        grid-template-rows: 12.6fr 2fr;
        aspect-ratio: 308 / 176;

        .body {
          @extend %flexCenter;
          @extend %notSelectable;

          font-size: 1.25em;
          color: var(--service-font);

          svg {
            path, rect,
            polygon {
              shape-rendering: geometricPrecision;
            }
          }

          svg.difficulty {
            path {
              shape-rendering: geometricPrecision;
            }

            path.outline {
              stroke: var(--service-font);
            }

            path.balk {
              fill: var(--service-font);
            }

            path.underSpeed {
              fill: var(--head-icon-color);
            }

            path.speed {
              &.first {
                fill: var(--service-speed-two);
              }

              &.second {
                fill: var(--service-speed-three);
              }

              &.third {
                fill: var(--service-speed-four);
              }

              &.max {
                fill: var(--service-speed-max);
              }
            }
          }

          svg.star {
            width: 66%;

            g.gray path {
              fill: var(--head-icon-color-inactive);
            }

            g.gold path {
              fill: var(--service-star);
            }
          }
        }

        h3.label {
          @extend %flexCenter;
          @extend %notSelectable;

          color: var(--service-font);
          font-size: 1em;
          font-weight: normal;
        }
      }

      .noReviews {
        @extend %notSelectable;
        @extend %flexCenter;

        grid-column: span 4;
        text-align: center;
        padding-top: globalPadding(.5);
        font-size: 1em;
        color: var(--service-title);

        @media (max-width: 1504px) {
          grid-column: span 2;
        }

        @media (max-width: 852px) {
          grid-column: span 1;
        }
      }
    }
  }

  .bottomControl {
    $buttonHeight: calc(var(--bottom-control-height) - globalPadding(.5));

    padding-top: globalPadding(.5);
    display: grid;
    grid-template-columns:
            repeat(1, $buttonHeight)
            1fr
            repeat(1, $buttonHeight);
    grid-gap: globalPadding(.5);
    position: sticky;
    bottom: 0;
    right: 0;
    background: var(--background-primary);

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: globalPadding(.5);
      background: var(--background-primary);
      top: 100%;
      left: 0;
    }

    .button {
      @extend %flexCenter;

      border-radius: globalPadding(.325);
      background: var(--head-button-back);
      cursor: pointer;

      &.orderButton {
        @extend %flexCenter;
        @extend %semiBold;
        @extend %notSelectable;

        background: var(--service-foot-button-back);
        font-size: 1.6em;
        color: var(--service-foot-button-font);

        @media (max-width: 868px) {
          font-size: 1em;
        }
      }

      &.star {
        &:hover {
          svg.notFavorite path {
            fill: var(--head-icon-color);
          }
        }

        svg {
          width: 55%;

          path {
            transition: fill .15s ease;
          }

          &.favorite {
            path {
              fill: var(--service-star);
            }
          }

          &.notFavorite {
            path {
              fill: var(--head-icon-color-inactive);
            }
          }
        }
      }

      &.regular {
        &:hover {
          svg {
            path {
              fill: var(--head-icon-color);
            }
          }
        }

        svg {
          width: 43%;

          path {
            fill: var(--head-icon-color-inactive);
            transition: fill .15s ease;
          }
        }
      }
    }
  }
}