@import "src/assets/styles/templates";

header.appHeader {
  // @extend %flexCenter;

  justify-content: space-between;
  height: var(--header-height);
  width: 100vw;
  max-width: 1920px;
  position: fixed;
  top: 0;
  left: 0;
  padding: globalPadding(1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: var(--layer-header);

  @media (min-width: 1920px) {
    left: calc(50% - 1920px / 2);
  }

  @include boxSizing(border-box);

  .container {
    @extend %flexCenter;

    &.left {
      justify-content: start;

      @media (max-width: 696px) {
        display: none;
      }
    }

    &.center {
      justify-content: center;

      @media (max-width: 696px) {
        grid-column: span 2;
        justify-content: start;
      }
    }

    &.right {
      justify-content: end;
      column-gap: globalPadding(.5);
    }
  }

  .squareButton {
    @extend %flexCenter;

    cursor: pointer;
    aspect-ratio: 1;
    height: 100%;
    background: var(--head-button-back);
    border-radius: 50%;

    transition: background-color .15s ease;

    &.dashboard {
      @media (max-width: 400px) {
        display: none;
      }
    }

    &.settings {
      @media (max-width: 552px) {
        display: none;
      }
    }

    &.menu {
      z-index: var(--layer-above-overlay);
    }

    &:hover, &:active {
      svg rect,
      svg path {
        fill: var(--head-icon-color);
      }
    }

    svg {
      width: 50%;

      rect, path {
        fill: var(--head-icon-color-inactive);
        transition: fill .15s ease;
      }
    }
  }
}