@import "src/assets/styles/templates";

header.appHeader {
  // @extend %flexCenter;

  justify-content: space-between;
  height: var(--header-height);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: globalPadding(1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: var(--layer-header);

  .container {
    @extend %flexCenter;

    &.left {
      justify-content: start;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: end;
    }
  }

  .squareButton {
    @extend %flexCenter;

    cursor: pointer;
    aspect-ratio: 1;
    height: 100%;
    background: var(--head-button-back);
    border-radius: 50%;

    transition: background-color .15s ease;

    &:hover, &:active {
      svg rect {
        fill: var(--head-icon-color);
      }
    }

    svg {
      width: 50%;

      rect {
        fill: var(--head-icon-color-inactive);
        transition: fill .15s ease;
      }
    }
  }
}