@import "src/assets/styles/templates";

.card {
  @extend %mainFont;

  // 1em = 20px
  font-size: 1em;
  padding: 1em;
  background: var(--main-card-back);
  width: 100%;
  max-width: 349px;
  border-radius: 1.9em;
  cursor: pointer;

  transition: background .15s ease;

  .imageBlock {
    width: 100%;
    border-radius: 1em;
    position: relative;
    margin-bottom: 4.1095em;

    img.block {
      width: 100%;
      border-radius: inherit;
    }

    .textContent {
      @extend %flexCenter;
      @extend %semiBold;
      @extend %notSelectable;

      border-radius: 1em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 75%;
      height: 100%;
      padding: 1em;
      justify-content: start;
      align-items: end;
      color: var(--main-card-header);
      font-size: 1em;

      transition: color .15s ease;
    }
  }

  .contentBlock {
    color: var(--main-card-content-font);

    .line {
      width: 1.3em;
      height: .1em;
      background: var(--main-card-content-font);
      margin-bottom: .5em;
    }

    .title {
      @extend %semiBold;
      margin-bottom: .5em;
    }

    .content {
      margin-bottom: .95em;
    }

    .arrow {
      @extend %flexCenter;
      @extend %notSelectable;

      width: 100%;
      justify-content: end;

      svg {
        path {
          fill: var(--main-card-content-font);
        }
      }
    }
  }
}