@import "src/assets/styles/templates";

.popup {
  @extend %mainFont;
  @extend %light;

  $arrowHeight: .5em;
  $arrowWidth: 1em;

  position: absolute;
  font-size: .75em; // 1em = 15px
  background: var(--popup-back);
  color: var(--popup-font);
  padding: .66em;
  border-radius: .46em;
  z-index: var(--layer-under-overlay);
  pointer-events: none !important;

  &.rightX {
    left: calc(100% + $arrowHeight);

    &:before {
      right: calc(100% - $arrowHeight / 2);
      top: calc(50% - $arrowHeight / 2);
    }
  }

  &.leftX {}

  &.centerX {
    &:before {
      right: calc(50% - $arrowWidth / 2);
    }
  }


  &.topY {}

  &.bottomY {
    top: calc(100% + $arrowHeight);

    &:before {
      bottom: 100%;
    }
  }

  &.centerY {
    top: calc(50% - $arrowWidth);
  }

  // Rotation variants
  &.centerX.bottomY {
    &:before {
      // transform: rotate(.5turn);
    }
  }

  &.rightX.centerY {
    &:before {
      transform: rotate(-.25turn);
    }
  }

  &:before {
    position: absolute;
    height: $arrowHeight;
    width: $arrowWidth;
    background: inherit;
    content: "";
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}