@import "src/assets/styles/templates";

nav.headerNav {
  @extend %flexCenter;
  @extend %mainFont;
  @extend %medium;

  height: 100%;
  font-size: 20px;
  padding: 0 1.5em;
  background-color: var(--head-button-back);
  border-radius: calc((var(--header-height) - globalPadding(2)) / 2);
  column-gap: 1em;

  .item {
    @extend %flexCenter;
    @extend %notSelectable;

    height: 100%;
    font-size: 1em;
    color: var(--head-icon-color-inactive);
    cursor: pointer;

    transition: color .15s ease;

    &:hover, &.active {
      color: var(--head-icon-color);
    }

    &.active {
      border-bottom: 5px solid var(--head-icon-color);
    }
  }
}